@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* ウィンドウ */
body {
	font-family: "Noto Sans Japanese";
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	color: #fff;
	text-shadow: 1px 1px 2px #000;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	        font-smoothing: antialiased;
}
.window {
	overflow: hidden;
}

/* ヘッダー, フッター */
header {
	height: 3rem;
	text-align: center;
	background-color: rgb(42, 42, 42);

	-webkit-app-region: drag;
}
header h1 {
	font-size: 1.5rem;
	margin: 0;
	padding: .5rem;
}
footer {
	line-height: 1rem;
	height: 1.5rem;
	text-align: center;
	background-color: rgb(42, 42, 42);

	-webkit-app-region: drag;
}
footer #status {
	font-size: .8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/* ウィンドウ操作ボタン */
.window_control {
	position: absolute;
	top: .2rem;
	right: .5rem;
}
.status_control {
	float: left;
	margin-left: .5rem;
}
.window_control button,
.status_control button {
	color: #999;
	border: none;
	background-color: transparent;

	-webkit-app-region: no-drag;
}
.window_control button:active,
.status_control button:active {
	background-color: #666;
}
.window_control i.fa,
.status_control i.fa {
	font-size: 1rem;
}

/* コンテント */
.content {
	font-size: 1rem;
	line-height: 1.5rem;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	height: calc(100% - 4.5rem);
	padding-right: .4rem;
	padding-left: 1rem;
	border: .4rem solid rgb(42, 42, 42);
	border-top: none;
	background-color: rgba(16, 16, 16, .85);
	box-shadow: 0 0 .7rem .2rem #000 inset;
}

/* スクロールバー */
::-webkit-scrollbar {
	overflow: hidden;
	width: .6rem;
}
::-webkit-scrollbar-thumb {
	overflow: hidden;
	background-color: rgba(96, 96, 96, .6);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(128, 128, 128, .6);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(255, 255, 255, .6);
}
